/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #6CD2EF;
}

header {
    width: 100%;
    background-color: #062C37;
    color: white;
    padding: 10px 0;
    text-align: right;
}

header .user-info {
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
*/
.sidebar {
    font-family: 'Inter', sans-serif;
    width: 20%;
    background-color: #062C37;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.sidebar button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #1285A5;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background-color: #2980b9;
}

.content {
    width: 80%;
    padding: 40px;
    background-color: #ecf0f1;
}

.content h1 {
    margin-top: 0;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
    width: 100%;
    height: 500px;
}



form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campo {
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: all linear 190ms;
    font-size: 0.9em;
    margin-bottom: 5px;
    outline: none;
}

.campo::placeholder {
    color: #666;
}

.campo:focus {
    border-color: #0985cc;
}

.btn {
    font-family: sans-serif;
    padding: 15px;
    color: black;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 7px;
    background-color: #ffffff;
    cursor: pointer;
}

.tamanho {
    margin-top: right;
    padding: 40px;
    background-color: #ecf0f1;
}

.tamanho h1 {
    margin-top: 0;
}

.tamanho p {
    font-size: 18px;
    line-height: 1.6;
}